@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Great+Vibes&family=Modern+Antiqua&display=swap');
body {
    font-family: Modern Antiqua   ;
    text-align: center;
    background-color: #ffe6e6;
}
h1, h2 {
    color: #ff4d6d;
}
.container {
    margin-top: 100px;
}
button {
    font-size: 18px;
    padding: 10px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.hidden {
    display: none;
}